<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link href="~/Admin/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Admin/DataTables/css/jquery.dataTables.css" rel="stylesheet" />*@
    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Select 2-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    @RenderSection("Header", required: false)

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="/images/Logo.png" class="img-fluid" />
                </div>
                <div class="sidebar-brand-text mx-3">Admin </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <!-- Nav Item - User Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-users"></i>
                    <span>Quản lí người dùng</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Hành động:</h6>
                        <a class="collapse-item" asp-area="Admin" asp-controller="User" asp-action="Create">Tạo người dùng</a>
                        <a class="collapse-item" asp-area="Admin" asp-controller="User" asp-action="Index">Danh sách người dùng</a>

                    </div>
                </div>
            </li>
            <!-- Nav Item - Product Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct"
                   aria-expanded="true" aria-controls="collapseProduct">
                    <i class="fas fa-coffee"></i>
                    <span>Quản lí sản phẩm</span>
                </a>
                <div id="collapseProduct" class="collapse" aria-labelledby="headingProduct" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Hành động:</h6>
                        <a class="collapse-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Quản Lí danh mục</a>
                        <a class="collapse-item" asp-area="Admin" asp-controller="Products" asp-action="Index">Danh sách sản phẩm</a>

                    </div>
                </div>
            </li>
            <!-- Nav Item - Bill Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBill"
                   aria-expanded="true" aria-controls="collapseBill">
                    <i class="fas fa-file-invoice"></i>
                    <span> Quản lí đơn hàng</span>
                </a>
                <div id="collapseBill" class="collapse" aria-labelledby="headingBill" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Hành động:</h6>
                        <a class="collapse-item" asp-area="Admin" asp-controller="Deliveries" asp-action="Index">Quản lí đơn vị vận chuyển</a>
                        <a class="collapse-item" asp-area="Admin" asp-controller="order" asp-action="Index">Danh sách đơn hàng</a>

                    </div>
                </div>
            </li>
            <!-- Nav Item - Discount Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDiscount"
                   aria-expanded="true" aria-controls="collapseDiscount">
                    <i class="fas fa-percent"></i>
                    <span> Quản lí mã giảm giá</span>
                </a>
                <div id="collapseDiscount" class="collapse" aria-labelledby="headingDiscount" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Hành động:</h6>
                        <a class="collapse-item" asp-area="Admin" asp-controller="Discounts" asp-action="Upsert">Tạo mã giảm giá</a>
                        <a class="collapse-item" asp-area="Admin" asp-controller="Discounts" asp-action="Index">Danh sách mã giảm giá</a>

                    </div>
                </div>
            </li>
            <!-- Nav Item - Discount Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShop"
                   aria-expanded="true" aria-controls="collapseShop">
                    <i class="fas fa-store-alt"></i>
                    <span> Quản lí cửa hàng</span>
                </a>
                <div id="collapseShop" class="collapse" aria-labelledby="headingShop" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Hành động:</h6>
                        
                        <a class="collapse-item" asp-area="Admin" asp-controller="Shop" asp-action="Index">Danh sách cửa hàng</a>

                    </div>
                </div>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                  

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                      
                        

                        <!-- Nav Item - User Information -->
                        <partial name="_LoginPartial" />
                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                @RenderBody()

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; HYHT Lập trình web 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
        <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div >
                            <div class="row">
                                <div class="col-12 mx-auto">

                                    <div class="p-5 bg-white shadow rounded-lg">
                                        <img src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">

                                        <form id="importfile" enctype="multipart/form-data"  >
                                            <div id="alert-text" class="text-danger"></div>
                                            <div class="custom-file mb-3">
                                                <input type="file" class="custom-file-input" id="inputFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                                <label class="custom-file-label" for="inputFile" aria-describedby="inputGroup">Choose file</label>
                                            </div>
                                            <input type="submit" class="form-control btn btn-primary" name="name" value="Upload sản phẩm" />
                                        </form>





                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Admin/js/sb-admin-2.min.js"></script>
    
    @RenderSection("Scripts", required: false)
    <!-- Page level plugins -->




</body>

</html>