@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    { 
        
<li class="nav-item dropdown">
    <a class="nav-link text-dark" href="#" id="dropdownMenuLink" data-toggle="dropdown">Hello @User.Identity.Name</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Info</a>
        <hr />
        <a class="dropdown-item" href="#">cái gì ở đây ta?</a>
        <hr />
        <a class="dropdown-item" href="#">Seller Channel</a>

    </div>
</li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Logout" asp-controller="Identity">Logout</a>
        </li>
    }
    else
    {
        <li>
            <a href="#" data-toggle="modal" data-target="#SignInModal">
                <span class="fa fa-unlock-alt" aria-hidden="true"></span> Sign In
            </a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#SignUpModal">
                <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign Up
            </a>
        </li>
    }

