
<div class="wait-confirm-items">
    <div class="item-inner">
        <div class="item-header">
            <!--đây là thông tin của shop, bao gồm ảnh và tên -->
            <!-- phải link về thông tin của shop-->
            <a href="#">
                <img class="avatar-shop" src="https://via.placeholder.com/150" alt="shop avatar" />
                <strong>Tên của shop</strong>
            </a>
            <div>
                <!-- trạng thái có thể sửa dc-->
                <span class="fa fa-truck" aria-hidden="true"> chờ cửa hàng xác nhận</span>
            </div>
        </div>
        <!-- thanh ngang-->
        <div class="breck-line"></div>
        <!-- đây là thông tin order detail-->
        <div class="item-body">
            <div style="display:flex">
                <a href="#">
                    <img class="item-img" src="https://via.placeholder.com/150" alt="items" />
                </a>
                <div class="info">
                    <h4><strong>Tieu để của sản phẩm, đây là một sản phẩm rất là tuyệt vời ok men</strong></h4>
                    <p>Phân loại hàng: quần xxx</p>
                    <p>X 10</p>
                    <!--đơn vị vận chuyenr nếu có-->
                    <p>đơn vị vận chuyển: XXXXX: 12.000 đ</p>
                </div>
            </div>
            <!--giá từng món-->
            <div>
                <!--giá cũ từng món-->
                <p><del>1.000.000</del></p>
                <!--giá Khuyến mĩa từng món-->
                <h2 class="text-danger">10.000</h2>
            </div>
        </div>
        <!-- nếu trạng thái giao hàng là gì thì ra cái gì-->
        @if (true)
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: 112.000</h1>
                <div class="text-right mt">
                    <a class="btn btn-lg btn-info" href="#">Hủy đơn</a>
                </div>
            </div>
        }
        else
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: 112.000</h1>
                <div class="text-right mt">
                    <a class="btn btn-lg btn-info" href="#">Hủy đơn</a>
                </div>
            </div>
        }

    </div>
    
</div>