@model OrderDetail



<div class="modal fade" id="Detail">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title">Đơn hàng @Model.Id</h5>
            </div>
            <div class="modal-body">
                <form class="form-group" asp-action="ChangeStatus" method="post">
                    <input id="Id" asp-for="Id" hidden />

                    <input id="Status" class="form-control" />
                    <select @*asp-for="Status"*@ class="form-control">
                        <option selected>Chọn trạng thái</option>
                        <option value="Đã lấy hàng">Đã lấy hàng</option>
                        <option value="Hoàn thành">Hoàn thành</option>
                    </select>
                    <label>Ghi chú</label>
                    <textarea class="form-control"></textarea>
                    <input id="Order" class="form-control" disabled />

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Lưu thay đổi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

