@model IEnumerable<MilkTeaECommerce.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex align-items-center">

        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        <a href="#" data-toggle="modal" data-target="#CreateModalProduct" class="btn btn-primary ml-auto">Tạo sản phẩm</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="productTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩn</th>
                        <th>Mô tả</th>
                        <th>Hình ảnh</th>
                        <th>Giá</th>
                        <th>Trạng thái</th>
                        <th>Số lượng</th>
                        <th>Loại</th>
                        <th>Cửa hàng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩn</th>
                        <th>Mô tả</th>
                        <th>Hình ảnh</th>
                        <th>Giá</th>
                        <th>Trạng thái</th>
                        <th>Số lượng</th>
                        <th>Loại</th>
                        <th>Cửa hàng</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- đây là cho edit modal-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh Sửa sản phẩm</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false">
                    <div hidden class="form-group">
                        <input class=" form-control" type="text" id="update_productid_old" />
                    </div>
                    <div class="form-group">
                        <label>Mã sản phẩm</label>
                        <input readonly class=" form-control " type="text" id="update_productid_new" />
                    </div>
                    <div class="form-group">
                        <label>Tên sản phẩm</label>
                        <input readonly class=" form-control " type="text" id="update_productname" />
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <input class=" form-control " type="text" id="update_productdescription" />
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh</label>
                        <input class=" form-control " type="text" id="update_productimage" />
                    </div>
                    <div class="form-group">
                        <label>Giá</label>
                        <input class=" form-control " type="text" id="update_productprice" />
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <input class=" form-control " type="text" id="update_productstatus" />
                    </div>
                    <div class="form-group">
                        <label>Số lượng</label>
                        <input class=" form-control " type="text" id="update_productquantity" />
                    </div>
                    <div class="form-group">
                        <label>Loại</label>
                        <input class=" form-control " type="text" id="update_productcategory" />
                    </div>
                    <div class="form-group">
                        <label>Cửa hàng</label>
                        <input class=" form-control " type="text" id="update_productshopid" />
                    </div>
                    <input data-dismiss="modal" class=" form-control btn btn-primary " type="submit" id="editSubmitProduct" value="Cập nhật" />
                </form>
            </div>
        </div>
    </div>
</div>
<!-- đây là cho create modal-->
<div class="modal fade" id="CreateModalProduct" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tạo Nhà Vận Chuyển Mới</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false">
                    <div class="form-group">
                        <label>Mã sản phẩm</label>
                        <input class=" form-control " type="text" id="create_productid" />
                    </div>
                    <div class="form-group">
                        <label>Tên sản phẩm</label>
                        <input class=" form-control " type="text" id="create_productname" />
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <input class=" form-control " type="text" id="create_productdescription" />
                    </div>
                    <div class="form-group">
                        <label>Hình ảnh</label>
                        <input class=" form-control " type="text" id="create_productimage" />
                    </div>
                    <div class="form-group">
                        <label>Giá</label>
                        <input class=" form-control " type="text" id="create_productprice" />
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <input class=" form-control " type="text" id="create_productstatus" />
                    </div>
                    <div class="form-group">
                        <label>Số lượng</label>
                        <input class=" form-control " type="text" id="create_productquantity" />
                    </div>
                    <div class="form-group">
                        <label>Loại</label>
                        <input class=" form-control " type="text" id="create_productcategory" />
                    </div>
                    <div class="form-group">
                        <label>Cửa hàng</label>
                        <input class=" form-control " type="text" id="create_productshopid" />
                    </div>
                    <input data-dismiss="modal" class=" form-control btn btn-primary" type="submit" id="CreateSubmitProduct" value="Tạo" />
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- Page level plugins -->
    <script src="~/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Admin/js/build/toastr.min.js"></script>
    <!--cái này của thông báo-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!--cái này của selectlist search-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <!-- Page level custom scripts -->



}
@section Header{
    <!--cái này của thông báo-->
    <link href="~/Admin/js/build/toastr.css" rel="stylesheet" />
    <!--cái này của selectlist search-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
}