@model MilkTeaECommerce.Models.DeliveryDetail

@{
    ViewData["Title"] = "Details";
}


<h4 class="row justify-content-center">Chi tiết đơn hàng</h4>
<hr />
<div class="row justify-content-center">
    <form class="form-group col-sm-6" >
        <dl class="row ">
            <dt class="col-sm-3">Mã đơn hàng</dt>
            <dd class="col-sm-7">
                <input  name="Id" class="form-control" disabled />
            </dd>
            <dt class="col-sm-3">Tên sản phẩm</dt>
            <dd class="col-sm-7">
                <input name="ProductName" class="form-control" disabled />
            </dd>
            <dt class="col-sm-3">Số lượng</dt>
            <dd class="col-sm-7">
                <input name="Count" class="form-control" disabled />
            </dd>
            <dt class="col-sm-3">Địa chỉ</dt>
            <dd class="col-sm-7">
                <input name="Address" class="form-control" disabled />
            </dd>
            <dt class="col-sm-3">Số điện thoại</dt>
            <dd class="col-sm-7">
                <input name="Phone" class="form-control" disabled />
            </dd>
            <dt class="col-sm-3">Phương thức thanh toán</dt>
            <dd class="col-sm-7">
                <input name="Payment" class="form-control" disabled />
            </dd>
            <dt class="col-sm-3">Tổng tiền</dt>
            <dd class="col-sm-7">
                <input name="Price" class="form-control" disabled />
            </dd>
        </dl>
    </form>
  
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
